[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/A110/qt;./qt_apagar_imagen'
Icon=/home/pi/A110/ICO_APAGAR_IMAGEN.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Apagar IMAGEN
Hidden=false
Comment[es_ES]=EA3EIZ
