[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/A110/qt;./qt_instalar_hblink_NEW'
Icon=/home/pi/A110/ICO_HBLINK.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Editar   HBlink  
Hidden=false
X-KeepTerminal=true
