[Desktop Entry]
Version=1.0
Type=Application
Name=Editar DMR2M17
Comment=
Exec=sh -c "cd /home/pi/A110/qt;./qt_editor_dmr2m17"
Icon=/home/pi/A110/ICO_EDITOR_DMR2M17.png
Path=/home/pi/A110
Terminal=false
StartupNotify=false
