[Desktop Entry]
Version=1.0
Type=Application
Name=Organizar Iconos
Comment=Organiza iconos
Exec=sh colocar_iconos.sh
Icon=/home/pi/PI-ADER/ICO_ORGANIZAR_ICONOS.png
Path=/home/pi/PI-ADER
Terminal=false
StartupNotify=false
