[Desktop Entry]
Version=1.0
Type=Application
Name=Organizar Iconos
Comment=Organiza iconos
Exec=sh colocar_iconos.sh
Icon=/home/pi/A110/ICO_ORGANIZAR_ICONOS.png
Path=/home/pi/A110
Terminal=false
StartupNotify=false
